{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inner World</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/video360.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

  <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
  <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
</head>
<body>

<!-- En-tête -->
<header class="header">
  <div class="header__container">
    <a href="{% url 'website:about' %}?lang=fr">
      <div class="header__info">
        <img class="header__logo" alt="logo" src="{% static 'img/logo-fr2.png' %}">
        <img class="header__tua-logo" alt="tua-logo" src="{% static 'img/tua-logo.png' %}">
        <img class="header__yazisiz-logo" alt="yazisiz-logo" src="{% static 'img/yazisiz-logo.jpg' %}">
        <img class="header__erasmus" alt="eu-log" src="{% static 'img/eu-logo-fr.jpg' %}">
      </div>
    </a>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="{% url 'website:about' %}?lang=fr" class="header__nav-link header__nav-link--active">Maison</a>
        </li>
        <li class="header__nav-item">
          <a href="{% url 'website:video' %}?lang=fr" class="header__nav-link">VR</a>
        </li>
        <li class="header__nav-item">
          <a href="{% url 'website:howitworks' %}?lang=fr" class="header__nav-link">Comment ça marche</a>
        </li>
        <li class="header__nav-item">
          <a href="{% url 'website:guides' %}?lang=fr" class="header__nav-link">Guides</a>
        </li>
        <li class="header__nav-item">
          <a href="{% url 'website:results' %}?lang=fr" class="header__nav-link">Résultats</a>
        </li>
      </ul>
    </nav>
    <nav class="header__lang">
      <ul class="header__lang-list">
        <li class="header__lang-item"><a href="?lang=en" class="header__lang-link">EN</a></li>
        <li class="header__lang-item"><a href="?lang=tr" class="header__lang-link">TR</a></li>
        <li class="header__lang-item"><a href="?lang=fr" class="header__lang-link--active">FR</a></li>
        <li class="header__lang-item"><a href="?lang=ua" class="header__lang-link">UA</a></li>
        <li class="header__lang-item"><a href="?lang=bg" class="header__lang-link">BG</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Contenu principal -->
<main>
  <!-- À propos -->
  <section class="about">
    <h2 class="about__title">À propos</h2>
    <p class="about__description">
      La Réalité Virtuelle pour le Soutien Psychosocial est un projet KA210 créé dans le cadre du programme Erasmus+,
      dédié à transformer la manière dont le soutien en santé mentale est apporté aux jeunes déplacés.
      Le projet se concentre sur les jeunes touchés par la guerre en Ukraine.
      Grâce à l’utilisation innovante de la technologie de réalité virtuelle (VR),
      le projet vise à construire un environnement sûr, engageant et sans barrières pour le soutien psychosocial,
      répondant aux besoins variés des personnes âgées de 13 à 20 ans.<br><br>

      Pendant 18 mois, notre équipe internationale composée de membres de Bulgarie, de France et de Turquie a créé,
      testé et partagé un outil VR conçu pour améliorer la qualité et l’accessibilité de l’assistance en santé mentale.
      Soixante jeunes déplacés ont participé à la phase pilote, recevant un soutien personnalisé et de haute qualité
      basé sur la VR,
      tandis que six professionnels de santé mentale formés ont appris à intégrer cet outil dans leur pratique.
      L’approche d’InnerWorld supprime les barrières courantes telles que la langue, le coût et la géographie,
      permettant à davantage de jeunes d’accéder à l’aide quand et où ils en ont besoin.
      Le projet a également investi dans un impact à long terme, en veillant à ce que la méthode VR puisse être
      largement adoptée
      en Europe et au-delà. En combinant l’innovation numérique, l’expertise en santé mentale et la collaboration
      internationale,
      InnerWorld promeut l’inclusion, soutient le rétablissement et donne aux jeunes les moyens de développer
      des compétences pour l’apprentissage, le travail et la vie communautaire dans leurs nouveaux environnements.
    </p>

    <div class="proceed-button-container">
      <a href="{% url 'website:video' %}?lang=fr" class="proceed-button">Passer à la vidéo</a>
    </div>

  </section>

  <!-- Partenaires -->
  <section class="partners">
    <div class="partners__container">
      <h2 class="partners__title">Organisations partenaires</h2>
      <div class="partners__list">
        <div class="partners__card">
          <a target="_blank" href="https://ankarabilim.edu.tr/en/index">

            <img src="{% static 'img/partner_AnkaraScienceUniversity.jpg' %}" alt="Logo partenaire"
                 class="partners__image"/>
            <h1 class="partners__header">Université des Sciences d’Ankara</h1>
            <p class="partners__description">
              L’Université Ankara Bilim est une université fondation créée le 21 avril 2016 par la Fondation Turque pour
              l’Efficacité,
              qui vise à développer la sensibilisation et la culture favorisant le « développement durable » au niveau
              individuel et institutionnel.
            </p>
          </a>
        </div>
        <div class="partners__card">
          <a target="_blank" href="https://opendoors.center/">

            <img src="{% static 'img/partner_OpenDoors.jpg' %}" alt="Logo partenaire" class="partners__image"/>
            <h1 class="partners__header">Centre Portes Ouvertes</h1>
            <p class="partners__description">
              Notre mission est d’aider les personnes déplacées par la guerre en Ukraine à trouver sécurité et stabilité
              dans les sociétés d’accueil, d’une manière qui favorise leur indépendance, leur autonomie et leur
              participation civique active.
            </p>

          </a>
        </div>
        <div class="partners__card">
          <a target="_blank" href="https://www.instagram.com/ukrrcenter/">

            <img src="{% static 'img/partner_CentreDeRessourcesUkrainen.png' %}" alt="Logo partenaire"
                 class="partners__image"/>
            <h1 class="partners__header">Centre de ressources ukrainien</h1>
            <p class="partners__description">
              Créé en octobre 2022, le CRU a d’abord agi comme un groupe informel, jusqu’à obtenir un statut officiel en
              septembre 2023.
              La mission du CRU est de soutenir les personnes ukrainiennes déplacées grâce à des programmes complets
              et des initiatives communautaires, afin de lever les barrières et de faciliter l’adaptation.
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Pied de page -->
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__column">
        <h3 class="footer__title">Contacts ABU</h3>
        <p class="footer__text">Email : info@ankarabilim.edu.tr</p>
        <p class="footer__text">Téléphone : +90 552 899 84 11</p>
        <p class="footer__text">Site web :
          <a class="footer__link" target="_blank" href="https://ankarabilim.edu.tr/en/index">
            ankarabilim.edu.tr
          </a>
        </p>
      </div>
      <div class="footer__column">
        <h3 class="footer__title">Contacts FSCOD</h3>
        <p class="footer__text">Email : contact@opendoors.center</p>
        <p class="footer__text">Téléphone : +359 884 013 786</p>
        <p class="footer__text">Site web :
          <a class="footer__link" target="_blank" href="https://opendoors.center/">
            opendoors.center
          </a>
        </p>
      </div>
      <div class="footer__column">
        <h3 class="footer__title">Contacts URC</h3>
        <p class="footer__text">Email : olena.vyshnev@gmail.com</p>
        <p class="footer__text">Téléphone : +33 065 245 56 39</p>
        <p class="footer__text">Instagram :
          <a class="footer__link" target="_blank" href="https://www.instagram.com/ukrrcenter/">
            @ukrrcenter
          </a>
        </p>
      </div>
      <div class="footer__column">
        <h3 class="footer__title">Guides & Documents</h3>
        <p class="footer__text">
          <a href="{% static 'docs/VR videos guide for direct users.pdf' %}" target="_blank">
            📄 Guide for direct users.pdf
          </a>
        </p>
        <p class="footer__text">
          <a href="{% static 'docs/VR videos guide for professionals.pdf' %}" target="_blank">
            📄 Guide for professionals.pdf
          </a>
        </p>
        <p class="footer__text">
          <a href="{% static 'docs/Who-5French.pdf' %}" target="_blank">
            📄 Who-5French.pdf
          </a>
        </p>
      </div>
      <div class="footer__column">
        <h3 class="footer__title">Règlements</h3>
        <p class="footer__text">
          <a href="{% static 'docs/Privacy Policy.pdf' %}" target="_blank">
            📄 Privacy Policy.pdf
          </a>
        </p>
        <p class="footer__text">
          <a href="{% static 'docs/Terms of Use.pdf' %}" target="_blank">
            📄 Terms of Use.pdf
          </a>
        </p>
        <p class="footer__text">
          <a href="{% static 'docs/Incident Report template.docx' %}" target="_blank">
            📄 Incident Report template.docx
          </a>
        </p>
      </div>
    </div>
    <div class="footer__bottom">
      <hr class="footer__divider">
      <p class="footer__copy">
        InnerWorld: Virtual Reality for Psychosocial Support
      <p>Financé par l’Union européenne. Les points de vue et avis exprimés n’engagent toutefois que leur(s) auteur(s)
        et ne reflètent pas nécessairement ceux de l’Union européenne ou de l’Agence<br> exécutive européenne pour
        l’éducation et la culture (EACEA). Ni l’Union européenne ni l’EACEA ne sauraient en être tenues pour
        responsables.</p>
      2023-3-TR01-KA210-YOU-000181712<br>
      © 2025 Tous droits réservés.
      </p>
    </div>
  </footer>

</main>

</body>
</html>
