{% load static %}

{% load static %}
<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inner World</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/video360.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

  <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
  <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
</head>
<body>

<!-- Header -->
<header class="header">
  <div class="header__container">
    <div class="header__info">
      <img class="header__erasmus" alt="EU" src="{% static 'img/Erasmus.jpg' %}">
      <img class="header__logo" alt="logo" src="{% static 'img/inner_world_logo.png' %}">
      <h1 class="header__title">Virtual Reality Platform<br> for Psychosocial Support</h1>
    </div>
    <nav class="header__lang">
      <ul class="header__lang-list">
        <li class="header__lang-item"><a href="?lang=tr" class="header__lang-link">TR</a></li>
        <li class="header__lang-item"><a href="?lang=en" class="header__lang-link--active">EN</a></li>
        <li class="header__lang-item"><a href="?lang=fr" class="header__lang-link">FR</a></li>
        <li class="header__lang-item"><a href="?lang=ua" class="header__lang-link">UA</a></li>
        <li class="header__lang-item"><a href="?lang=bg" class="header__lang-link">BG</a></li>
      </ul>
    </nav>
  </div>
</header>
</body>
</html>