{% extends "base.html" %}
{% load static %}

{% block language_title %}Türkçe{% endblock %}

{% block content %}
  <!-- About -->
  <section class="about">
    <h2 class="about__title">About</h2>
    <p class="about__description">
      Virtual Reality for Psychosocial Support is a KA210 project created within the framework of the
      Erasmus+ programme, dedicated to transforming the way mental health support is delivered to displaced youth. The
      project has a focus on youth affected by the war in Ukraine. Through innovative use of virtual reality (VR)
      technology, the project aims to build a safe, engaging, and barrier-free environment for psychosocial support that
      responds to the diverse needs of people aged 13–20.<br><br>

      Over 18 months, our international team from Bulgaria, France, and Türkiye created, tested, and shared a VR tool
      designed to enhance the quality and accessibility of mental health assistance. Sixty displaced young people took
      part in the pilot phase, receiving personalised, high-quality VR-based support, while six trained mental health
      professionals learned to integrate this tool into their practice. InnerWorld’s approach removes common barriers
      such as language, cost, and geography, enabling more young people to
      access help when and where they need it. The project also invested in long-term impact, ensuring the VR method can
      be adopted widely in Europe and beyond. By combining digital innovation, mental health expertise, and
      international collaboration, InnerWorld promotes
      inclusion, supports recovery, and empowers young people to build skills for learning, work, and community life in
      their new environments.
    </p>
  </section>

  <!-- Partners -->
  <section class="partners">
    <div class="partners__container">
      <h2 class="partners__title">Partner Organizations</h2>
      <div class="partners__list">
        <div class="partners__card">
          <img src="{% static 'img/partner_OpenDoors.jpg' %}" alt="Ortak Logo" class="partners__image"/>
          <h1 class="partners__header">Foundation "Situational Center Open Doors"</h1>
          <p class="partners__description">
            Our mission is to help the people displaced by the war in Ukraine find security and stability in host
            societies in a way that promotes their independence, self-sufficiency, and active civic participation.
          </p>
        </div>
        <div class="partners__card">
          <img src="{% static 'img/partner_AnkaraScienceUniversity.jpg' %}" alt="Ortak Logo" class="partners__image"/>
          <h1 class="partners__header">Ankara Science University</h1>
          <p class="partners__description">
            Ankara Bilim University is a foundation university established 21 April 2016 by the Turkish Efficiency
            Foundation, which aims to develop the awareness and culture extending "sustainable development" at the
            individual and institutional level.
          </p>
        </div>
        <div class="partners__card">
          <img src="{% static 'img/partner_CentreDeRessourcesUkrainen.png' %}" alt="Ortak Logo"
               class="partners__image"/>
          <h1 class="partners__header">Centre de ressources ukrainen</h1>
          <p class="partners__description">
            Established in October 2022, the CRU acted initially as an informal group, until it gained official status
            in September 2023. CRU's mission is to support Ukrainian displaced people through comprehensive programs and
            community initiatives, to bridge barriers and facilitate adaptation.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Video -->
  <section class="video">
    <div class="video__container">

      <!-- Video selector -->
      <div class="video__selector">
        <button class="video__nav video__nav--prev" aria-label="Previous video">&#10094;</button>
        <div class="video__thumbnails-wrapper">
          <div class="video__thumbnails" id="videoThumbnails">
            <div class="video__thumbnail video__thumbnail--active" data-src="video1.mp4">
              <img src="{% static 'img/partner_CentreDeRessourcesUkrainen.jpg' %}" alt="Video 1">
            </div>
            <div class="video__thumbnail" data-src="video2.mp4">
              <img src="{% static 'img/partner_CentreDeRessourcesUkrainen.jpg' %}" alt="Video 1">
            </div>
            <div class="video__thumbnail" data-src="video3.mp4">
              <img src="{% static 'img/partner_CentreDeRessourcesUkrainen.jpg' %}" alt="Video 1">
            </div>
            <div class="video__thumbnail" data-src="video4.mp4">
              <img src="{% static 'img/partner_CentreDeRessourcesUkrainen.jpg' %}" alt="Video 1">
            </div>
            <div class="video__thumbnail" data-src="video5.mp4">
              <img src="{% static 'img/partner_CentreDeRessourcesUkrainen.jpg' %}" alt="Video 1">
            </div>
          </div>
        </div>
        <button class="video__nav video__nav--next" aria-label="Next video">&#10095;</button>
      </div>

      <!-- Player -->
      <div class="video__player-wrapper">
        <video
            id="video360"
            class="video__element"
            playsinline
            crossorigin="anonymous"
            webkit-playsinline
            muted
        ></video>

        <a-scene vr-mode-ui="enabled: true" embedded class="video__scene">
          <a-videosphere
              id="videosphere"
              src="#video360"
              rotation="0 -90 0"
              visible="false"
          ></a-videosphere>
          <a-camera
              look-controls="pointerLockEnabled: true"
              wasd-controls-enabled="false"
          ></a-camera>
        </a-scene>

        <div class="video__play-button" id="playButton" aria-label="Play"></div>
      </div>
    </div>
  </section>

{% endblock %}
