{% load static %}

<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inner World</title>
  <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/video360.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">

  <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
  <script src="https://cdn.dashjs.org/latest/dash.all.min.js"></script>
</head>
<body>

<!-- Header -->
<header class="header">
  <div class="header__container">
    <a href="{% url 'website:about' %}?lang=tr">
      <div class="header__info">
        <img class="header__logo" alt="logo" src="{% static 'img/logo-tr2.png' %}">
        <img class="header__tua-logo" alt="tua-logo" src="{% static 'img/tua-logo.png' %}">
        <img class="header__yazisiz-logo" alt="yazisiz-logo" src="{% static 'img/yazisiz-logo.jpg' %}">
        <img class="header__erasmus" alt="eu-log" src="{% static 'img/eu-logo-tr.jpg' %}">
      </div>
    </a>
    <nav class="header__lang">
      <ul class="header__lang-list">
        <li class="header__lang-item"><a href="?lang=en" class="header__lang-link">EN</a></li>
        <li class="header__lang-item"><a href="?lang=tr" class="header__lang-link--active">TR</a></li>
        <li class="header__lang-item"><a href="?lang=fr" class="header__lang-link">FR</a></li>
        <li class="header__lang-item"><a href="?lang=ua" class="header__lang-link">UA</a></li>
        <li class="header__lang-item"><a href="?lang=bg" class="header__lang-link">BG</a></li>
      </ul>
    </nav>
  </div>
</header>

<!-- Main Content -->
<main>
  <!-- About -->
  <section class="about">
    <h2 class="about__title">Hakkında</h2>
    <p class="about__description">
      Psikososyal Destek için Sanal Gerçeklik, Erasmus+ programı kapsamında oluşturulan KA210 projesidir ve savaş
      nedeniyle yerinden edilmiş gençlere yönelik ruh sağlığı desteğinin sunulma biçimini dönüştürmeyi amaçlamaktadır.
      Proje, özellikle Ukrayna'daki savaşın etkilediği gençlere odaklanmaktadır. Yenilikçi sanal gerçeklik (VR)
      teknolojisi kullanımıyla, projenin amacı 13–20 yaş aralığındaki kişilerin çeşitli ihtiyaçlarına yanıt veren
      güvenli, çekici ve engellerden arınmış bir psikososyal destek ortamı oluşturmaktır.<br><br>

      18 ay boyunca Bulgaristan, Fransa ve Türkiye'den oluşan uluslararası ekibimiz, ruh sağlığı desteğinin kalitesini
      ve erişilebilirliğini artırmak için bir VR aracı tasarladı, test etti ve paylaştı. Altmış yerinden edilmiş genç,
      pilot aşamada kişiselleştirilmiş, yüksek kaliteli VR tabanlı destek aldı. Altı eğitimli ruh sağlığı uzmanı ise bu
      aracı uygulamalarına entegre etmeyi öğrendi. InnerWorld yaklaşımı, dil, maliyet ve coğrafya gibi yaygın engelleri
      ortadan kaldırarak, daha fazla gencin ihtiyaç duyduğu anda ve yerde desteğe ulaşmasını sağlıyor. Proje, VR
      yönteminin Avrupa’da ve ötesinde geniş çapta benimsenmesini sağlamak için uzun vadeli etkiye de yatırım yaptı.
      Dijital yenilik, ruh sağlığı uzmanlığı ve uluslararası işbirliğini birleştirerek InnerWorld, kapsayıcılığı teşvik
      eder, iyileşmeyi destekler ve gençlerin yeni ortamlarında öğrenme, çalışma ve toplumsal yaşam becerileri
      geliştirmelerini güçlendirir.
    </p>

    <div class="proceed-button-container">
      <a href="{% url 'website:video' %}?lang=tr" class="proceed-button">Videoya Devam Et</a>
    </div>
  </section>

  <!-- Partners -->
  <section class="partners">
    <div class="partners__container">
      <h2 class="partners__title">Ortak Kuruluşlar</h2>
      <div class="partners__list">
        <div class="partners__card">
          <a target="_blank" href="https://ankarabilim.edu.tr/en/index">

            <img src="{% static 'img/partner_AnkaraScienceUniversity.jpg' %}" alt="Ortak Logo" class="partners__image"/>
            <h1 class="partners__header">Ankara Bilim Üniversitesi</h1>
            <p class="partners__description">
              Ankara Bilim Üniversitesi, 21 Nisan 2016 tarihinde Türk Verimlilik Vakfı tarafından kurulmuş bir vakıf
              üniversitesidir. Bireysel ve kurumsal düzeyde "sürdürülebilir kalkınma" bilinci ve kültürünü geliştirmeyi
              hedeflemektedir.
            </p>
          </a>
        </div>
        <div class="partners__card">
          <a target="_blank" href="https://opendoors.center/">

            <img src="{% static 'img/partner_OpenDoors.jpg' %}" alt="Ortak Logo" class="partners__image"/>
            <h1 class="partners__header">Durumsal Merkez Açık Kapılar</h1>
            <p class="partners__description">
              Misyonumuz, Ukrayna’daki savaş nedeniyle yerinden edilmiş kişilerin, bağımsızlıklarını, kendi kendine
              yeterliliklerini ve aktif vatandaşlık katılımlarını teşvik edecek şekilde ev sahibi toplumlarda güvenlik
              ve istikrar bulmalarına yardımcı olmaktır.
            </p>

          </a>
        </div>
        <div class="partners__card">
          <a target="_blank" href="https://www.instagram.com/ukrrcenter/">

            <img src="{% static 'img/partner_CentreDeRessourcesUkrainen.png' %}" alt="Ortak Logo"
                 class="partners__image"/>
            <h1 class="partners__header">Ukrayna Kaynak Merkezi</h1>
            <p class="partners__description">
              Ekim 2022'de kurulan UKM, başlangıçta resmi olmayan bir grup olarak faaliyet gösterdi ve Eylül 2023’te
              resmi statü kazandı. Misyonu, Ukraynalı yerinden edilmiş kişileri kapsamlı programlar ve topluluk
              girişimleriyle desteklemek, engelleri aşmak ve uyumu kolaylaştırmaktır.
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__column">
        <h3 class="footer__title">ABU İletişim</h3>
        <p class="footer__text">E-posta: info@ankarabilim.edu.tr</p>
        <p class="footer__text">Telefon: +90 552 899 84 11</p>
        <p class="footer__text">Web sitesi:
          <a class="footer__link" target="_blank" href="https://ankarabilim.edu.tr/en/index">
            ankarabilim.edu.tr
          </a>
        </p>

      </div>
      <div class="footer__column">
        <h3 class="footer__title">FSCOD İletişim</h3>
        <p class="footer__text">E-posta: contact@opendoors.center</p>
        <p class="footer__text">Telefon: +359 884 013 786</p>
        <p class="footer__text">Web sitesi:
          <a class="footer__link" target="_blank" href="https://opendoors.center/">
            opendoors.center
          </a>
        </p>

      </div>
      <div class="footer__column">
        <h3 class="footer__title">URC İletişim</h3>
        <p class="footer__text">E-posta: olena.vyshnev@gmail.com</p>
        <p class="footer__text">Telefon: +33 065 245 56 39</p>
        <p class="footer__text">Instagram:
          <a class="footer__link" target="_blank" href="https://www.instagram.com/ukrrcenter/">
            @ukrrcenter
          </a>
        </p>

      </div>
      <div class="footer__column">
        <h3 class="footer__title">Kılavuzlar & Belgeler</h3>
        <p class="footer__text">
          <a href="{% static 'docs/VR videos guide for direct users.pdf' %}" target="_blank">
            📄 Guide for direct users.pdf
          </a>
        </p>
        <p class="footer__text">
          <a href="{% static 'docs/VR videos guide for professionals.pdf' %}" target="_blank">
            📄 Guide for professionals.pdf
          </a>
        </p>
        <p class="footer__text">
          <a href="{% static 'docs/Who-5Turkish.pdf' %}" target="_blank">
            📄 Who-5Turkish.pdf
          </a>
        </p>
      </div>
      <div class="footer__column">
        <h3 class="footer__title">Yönetmelikler</h3>
        <p class="footer__text">
          <a href="{% static 'docs/Privacy Policy.pdf' %}" target="_blank">
            📄 Privacy Policy.pdf
          </a>
        </p>
        <p class="footer__text">
          <a href="{% static 'docs/Terms of Use.pdf' %}" target="_blank">
            📄 Terms of Use.pdf
          </a>
        </p>
        <p class="footer__text">
          <a href="{% static 'docs/Incident Report template.docx' %}" target="_blank">
            📄 Incident Report template.docx
          </a>
        </p>
      </div>
    </div>
    <div class="footer__bottom">
      <hr class="footer__divider">
      <p class="footer__copy">
        InnerWorld: Virtual Reality for Psychosocial Support
      <p>Erasmus+ / Avrupa Dayanışma Programı kapsamında Avrupa Komisyonu tarafından desteklenmektedir.<br>Burada yer alan içerik yazarın görüşlerini yansıtmaktadır ve bu görüşlerden Avrupa Komisyonu ve Türkiye Ulusal Ajansı sorumlu tutulamaz.</p>
        2023-3-TR01-KA210-YOU-000181712<br>
        © 2025 Tüm hakları saklıdır.
      </p>
    </div>
  </footer>

</main>

</body>
</html>